In [1]:
import pandas as pd

In [26]:
train = pd.read_csv('train.csv')
train.head(5)
test = pd.read_csv("test_masked.csv")

In [44]:
clean_train = train.drop(['year', 'cname', 'path', 'DHSID_EA' , 'n_water'], axis = "columns")
clean_train['urban'] = clean_train['urban'].replace({'R': 1, 'U': 0})
clean_train.head()

clean_test = test.drop(['year', 'cname', 'path', 'DHSID_EA'], axis = "columns")
clean_test['urban'] = test['urban'].replace({'R': 1, 'U': 0})
clean_test.head()

         lat        lon  n_asset  asset_index  cluster_id  adm1dhs  urban
0   9.220903  92.781530     22.0     2.721812       10009        1      1
1   7.028410  93.883430     20.0     2.287279       10011        1      1
2  12.371448  92.783665     22.0     0.677109       10017        1      1
3  11.727304  92.719257     21.0     1.793683       10044        1      1
4   9.185310  92.777645     22.0     2.758168       10060        1      1

In [45]:
#pip install -U scikit-learn
clean_train

,lat,lon,n_asset,asset_index,water_index,cluster_id,adm1dhs,urban
0,9.165413,92.742696,22.0,2.650768,5.000000,10004,1,1
1,8.307356,93.093792,22.0,2.157784,5.000000,10005,1,1
2,7.016968,93.893226,21.0,1.832751,4.619048,10007,1,1
3,9.194938,92.800432,22.0,2.746096,5.000000,10016,1,1
4,8.055606,93.543892,22.0,2.581869,5.000000,10018,1,1
...,...,...,...,...,...,...,...,...
18717,17.184983,79.989186,22.0,0.629311,4.272727,360473,36,1
18718,17.465781,78.418820,20.0,2.704372,5.000000,360475,36,0
18719,17.939231,79.512509,17.0,1.315361,4.882353,360480,36,1
18720,17.420175,78.491013,23.0,2.920893,5.000000,360481,36,0
18721,17.313331,79.963638,21.0,0.985008,3.761905,360482,36,1

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
import numpy as np
# Labels are the values we want to predict
# labels = np.array(clean_train['water_index'])

# Saving feature names for later use
# train_list = list(clean_train.columns)

# Convert to numpy array
# clean_train = np.array(clean_train)

In [48]:
train_x = clean_train.drop('water_index', axis = "columns")
train_labels = clean_train['water_index']

# Convert to numpy array
train_x = np.array(train_x)
test_x = np.array(clean_test)

In [49]:
print('Training Features Shape:', train_x.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_x.shape)

Training Features Shape: (18722, 7)
Training Labels Shape: (18722,)
Testing Features Shape: (2675, 7)

In [50]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 42)
rf.fit(train_x, train_labels)

RandomForestRegressor(random_state=42)

In [53]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_x)
# Calculate the absolute errors
#errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
#print('Mean Absolute Error:', np.mean(errors), 'degrees.')
#len(predictions)

In [74]:
solution_df = test.copy()
solution_df["water_index"] = predictions

filtered_solution_df = solution_df[["DHSID_EA", "water_index"]]
print(filtered_solution_df)
filtered_solution_df.to_csv("solution.csv")
#solution_df["water_index"] = predictions
#len(predictions)

#ValueError: Length of values (18722) does not match length of index (2675)

#length of predictions: 18722
#length of values: 2675

                DHSID_EA  water_index
0     IA-2015-7-00010009     4.998615
1     IA-2015-7-00010011     4.912992
2     IA-2015-7-00010017     4.458461
3     IA-2015-7-00010044     4.782032
4     IA-2015-7-00010060     5.000000
...                  ...          ...
2670  IA-2015-7-00360403     4.983354
2671  IA-2015-7-00360454     4.876577
2672  IA-2015-7-00360474     4.825083
2673  IA-2015-7-00360476     4.515127
2674  IA-2015-7-00360479     4.192125

[2675 rows x 2 columns]